/* Categories Bar Component Style  */
.categories_name{
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: black;

}
.categories_name:hover{
    color: #e154fa;
    
}
.book_cat{
    color: #7232fa;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}