*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.custom-footer{
    width: 100%;
    /* margin-top: calc(100vh - 43vh); */
    color: white;
}
.custom-space {
    margin-left: 45px;
}
